body {
    font-family: Verdana, monospace, sans-serif;
    font-size: 12px;
    font-weight: bold;
    min-height: 800px;
}
.container {
    width: 600px;
    height: 300px;
    padding: 20px;
    position: relative;
    margin: auto;
}
#result p{
    border: 2px solid #ccc;
    padding: 25px;
}
#btn{
    cursor: pointer;
}